.featured {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
    color: white;
    gap :20px;
    z-index: 1;
}

.featuredImg {
    object-fit :cover;
    width: 100%;
}

.featuredItem {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
}

.featuredTitles {
    position: absolute;
    bottom: 20px;
    left: 20px;
}