.header {
    background-color:#003580;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.headerContainer {
    width : 100%;
    max-width: 1024px;
    margin : 20px 0 100px 0px;
}

.headerContainer.listMode {
    margin : 20px 0 0 0px;
}

.headerList {
    display: flex;
    gap : 40px;
    margin-bottom: 50px;
}

.headerListItem {
    display: flex;
    align-items: center;
    gap : 10px;
}

.active {
    border : 1px solid white;
    padding: 10px;
    border-radius: 20px;
}

.headerDesc {
    margin : 20px 0;
}

.headerBtn {
    background-color: #0071c2;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-weight: 500;
    border-radius: 5px;
}

.headerSearch {
    height: 30px;
    display: flex;
    background-color: white;
    border: 3px solid #febb02;
    border-radius: 5px;
    padding: 10px 0;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
    justify-content: space-around;
    align-items: center;
}

.headerIcon {
    color: lightgray;
}

.headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerSearchInput {
    border: none;
    outline: none;
}

.headerSearchText {
    color: lightgray;
    cursor: pointer;
}

.date {
    position: absolute;
    top : 50px;
}

.options {
    position: absolute;
    top: 50px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow : 0 0 10px -5px rgba(0,0,0,0.4);
    box-shadow: 0 0 10px -5px rgba(0,0,0,0.4);
}

.optionItems {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    font-style: 12px;
}

.optionCounterButton {
    height: 30px;
    width: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.optionCounterButton:disabled {
    cursor: not-allowed;
}

